.BackGround{
    -fx-background: rgb(10,13,18);
    -fx-background-color: linear-gradient(rgba(10,13,18,1) 0%, rgba(45,49,50,1) 53%, rgba(46,50,51,1) 69%, rgba(79,80,83,1) 89%);
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-border-color: rgb(114, 111, 111);
}
PasswordField{
    -fx-color: rgb(249, 249, 249);
    -fx-font-family: serif;
    -fx-alignment: center;
}
ComboBox{
    -fx-border-radius: 5px;
    -fx-background-color: #ffffffbe;
    -fx-color: #000000;
    -fx-appearance: none;
    -fx-webkit-appearance: none;
    -fx-moz-appearance: none;
    -fx-cursor: pointer;
    -fx-alignment: center;
}

Button{
    -fx-background: rgb(10,205,217);
    -fx-background-color: linear-gradient( rgba(10,205,217,1) 0%, rgba(5,140,159,1) 49%, rgba(12,155,186,1) 69%);
    -fx-color: rgb(0, 0, 0);
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-border-color: paleturquoise;
    -fx-cursor: pointer;
    -fx-text-alignment: center;
}
