.BackGround{
    /*-fx-background-color: rgb(231,247,246);*/
    -fx-background-color: linear-gradient(rgba(231,247,246,1) 0%, rgba(216,249,246,1) 83%, rgba(162,254,251,1) 96%);
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-border-color: rgb(156, 156, 156);
}
PasswordField{
    -fx-color: rgb(89, 87, 87);
    -fx-font-family: serif;
    -fx-alignment: center;
}
ComboBox{
    -fx-border-radius: 5px;
    -fx-background-color: #ffffffbe;
    -fx-color: #333;
    -fx-appearance: none;
    -fx-webkit-appearance: none;
    -fx-moz-appearance: none;
    -fx-cursor: pointer;
    -fx-alignment: center;
}

Button{
    /*-fx-background: rgb(10,60,159);*/
    -fx-background-color: linear-gradient(rgba(10,60,159,1) 0%, rgba(11,161,215,1) 40%, rgba(7,54,139,1) 62%);
    -fx-color: azure;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-border-color: paleturquoise;
    -fx-cursor: pointer;
}
