.BackGround{
    /*background: rgb(231,247,246);*/
    background: linear-gradient(36deg, rgba(231,247,246,1) 0%, rgba(216,249,246,1) 83%, rgba(162,254,251,1) 96%);
    border-radius: 5px;
    border-width: 2px;
    border-color: rgb(156, 156, 156);
}
PasswordField input::placeholder{
    color: rgb(89, 87, 87);
    font-family: serif;
}
ComboBox{
border-radius: 5px;
  background-color: #ffffffbe;
  color: #333;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

/*ComboBox:hover,*/
/*ComboBox:focus {*/
/*  background-color: #a7b2ef;*/
/*}*/
Button{
    /*background: rgb(10,60,159);*/
    background: linear-gradient(81deg, rgba(10,60,159,1) 0%, rgba(11,161,215,1) 40%, rgba(7,54,139,1) 62%);
    color: azure;
    border-radius: 5px;
    border-width: 2px;
    border-color: paleturquoise;
    cursor: pointer;
}
Button:hover{
    box-shadow: 3px 3px 2px #999;

}